<launch>
  <node pkg="uvc_camera" name="camera" type="uvc_camera_node">
  </node>
  <node pkg="motpy_ros" name="tracking_srv" type="tracking_srv.py"/>
  <node pkg="motpy_ros" name="face_tracking" type="face_tracking_using_srv.py"/>
  <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>
</launch> 