<launch>
  <!-- Image source (Camera) -->
  <node pkg="usb_cam" name="camera" type="usb_cam_node">
    <remap from="camera/image_raw" to="/camera/color/image_raw"/>
  </node>

  <!-- Face detect -->
  <node pkg="motpy_ros" name="face_detector" type="face_detect.py">
    <param name="frame_size/width" value="360"/>
    <param name="frame_size/height" value="240"/>
    <param name="imshow_isshow" value="0"/>
  </node>
  
  <!-- Object Tracking -->
  <node pkg="motpy_ros" name="darknet_tracking" type="darknet_tracking.py">
  </node>

  <!-- View as mosaic -->>
  <node pkg="motpy_ros" name="mosaic_bbox" type="mosaic_bbox.py">
    <param name="frame_size/width" value="360"/>
    <param name="frame_size/height" value="240"/>
    <remap from="bounding_boxes" to="/tracking_data/bounding_boxes"/>
    <remap from="motpy/image_raw" to="/camera/color/image_raw"/>
    <param name="imshow_isshow" value="1"/>
  </node>

  <!-- BoundingBox to UInt16(0~180) -->
  <node pkg="motpy_ros" name="bbox2arduino" type="bbox2arduino.py" output="screen" >
    <param name="frame_size/width" value="360"/>
    <param name="frame_size/height" value="240"/>
  </node>

  <!-- ROS Serial -->
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <!-- Rqt_graph -->
  <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>

</launch>